.col-sm-3 {
	padding-right: 0em;

	.alreadyRegisteredComponent {
		background: #fff;
		height: 50em;
		padding-top: 1em;
		width: 100%;
		margin-left: 0.5em;
	}

	a {
		color: #fff;
	}

	.alreadyRegisteredContainer {
		width: 100%;
		background: teal;
		margin-top: 6em;
		padding-top: 1em;
		padding-bottom: 1em;
		-webkit-border-radius: 10px;
		color: #fff;
		margin-left: -1em;
		padding-left: 1em;
		padding-right: 1em;
	}

	.alreadyRegisteredHeader {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
	}

	.alreadyRegisteredContent {
		text-align: center;
		font-size: 1.5em;
	}
}