.alreadyRegisteredComponent {
	background: #E7E09A;
	height: 50em;
	padding-top: 1em;

	a {
		color: #fff;
	}

	.alreadyRegisteredContainer {
		width: 100%;
		background: teal;
		margin-top: 6em;
		padding-top: 1em;
		padding-bottom: 1em;
		-webkit-border-radius: 10px;
		color: #fff;
		// margin-left: -1em;
	}

	.alreadyRegisteredHeader {
		text-align: center;
		font-family: Lobster Two;
	}

	.alreadyRegisteredContent {
		text-align: center;
		font-size: 1.5em;
	}
}