.homePageComponent {
	background: url('/images/SoccerGame.jpeg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  color: #fff;
	  height: 70em;
	

	.homePageHeader {
		padding-top: 2em;
		margin-top: 0em;
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
	}

	a {
		color: #fff;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid #fff;
		padding: 10px;
		display: inline-block;
		margin: 10px;
		width: 25%;

		&:hover {
			background: rgba(255,255,255, .25);
		}
	}

	.homePageLinks {
		margin: 0 auto;
		text-align: center;
	}

	.homePageContent {
		text-align: center;
		// text-align: left;
		// max-width: 25em;
		// margin: 0 auto;
		// color: #551A8B;
		font-family: Roboto Slab, sans-serif;
		font-weight: 900;
	}

	@media (max-width: 490px) {
		a {
		color: #fff;
		text-decoration: none;
		font-size: 1.5em;
		border: 3px solid #fff;
		padding: 10px;
		display: inline-block;
		margin: 10px;
		width: 35%;

			&:hover {
				background: rgba(255,255,255, .25);
			}
		}
	}	
}