.homePageComponent {
	background-image: url('http://images.freeimages.com/images/thumbs/50e/ticket-1543115.jpg');
	background-repeat: no-repeat;
	background-size: 110%;
	height: 50em;

	.homePageHeader {
		text-align: center;
	}

	.homePageContent {
		text-align: center;
	}
}