.navigationTitle {

	.ul {
	  background: teal;
	  height: 100%;
	  margin-bottom: 0em;
	  padding-top: 0.5em;
	  padding-bottom: 0.5em;
	}

    .navList {
	  display: inline;
	  margin-left: 1em;
	  font-weight: bold;
	  font-family: 'Roboto Condensed', sans-serif;
	}

	a {
	text-decoration:none; 
	color: white;
	}
}

.navbar-default .navbar-brand {
	font-size: 1em;
	color: white;

	&:hover {
		color: white;
	}
}

.navbar-default .navbar-nav > li > a {
	padding: 15px 10px;
	color: white;

	&:hover, &:focus, &:active {
		color: white;
	}
}

.navbar {
	margin: 0;
	border: none;
	border-radius: 0;
	background: teal;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: lighten(rgb(0, 128, 128), 5%);
}
