.col-sm-9 {
	padding-left: 0em;
	padding-right: 0em;	

	.registrationComponent{
		// background: #B7FCDF;
		background: rgba(0, 128, 128, .1);		
		height: 50em;
		padding-top: 1em;
	}

	.registrationInput {
		display: block;
		margin-top: 2em;
		margin-left: 5em;
		width: 80%;
		border: 1px solid teal;
		padding: 10px;
	}

	.registrationHeader {
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
	}

	.registrationButton {
		background: teal;
		border: none;
		color: white;
		display: inline-block;
		text-align: center;
		margin-top: 1em;
		margin-left: 35%;
		width: 30%;
		-webkit-border-radius: 10px;
	    font-family: Roboto Slab;
	}
}