.teamsComponent {
	background: #E7E09A;
	height: 60em;
	padding-top: 1em;

	.teamsHeader {
		font-family: Lobster Two;
		text-align: center;
	}

	.teamsContent {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
		margin-left: 1em;
		text-decoration: underline;
		text-align: center;
	}

	.teamsList {
		margin-left: 2em;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
		text-align: center;
	}
}