.ticketsComponent {
	background: #E7E09A;
	height: 50em;
	padding-top: 1em;
	padding-bottom: 1em;

	.ticketsHeader {
		font-family: Lobster Two;
		text-align: center;
	}

	.ticketsContent {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
		margin-left: 1em;
		text-decoration: underline;
		text-align: center;
	}

	.ticketsList {
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
	}

	.ticketsList button {
		margin-top: 1em;
		width: 10em;
		background: teal;
		color: white;
		border: none;
	}
}