.viewTicketsComponent {
	background: #E7E09A;
	height: 50em;
	padding-top: 1em;

	.viewTicketsHeader {
		font-family: Lobster Two;
		text-align: center;
	}

	.viewTicketsContent {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 900;
		margin-left: 1em;
		text-align: center;
	}
}